<form [formGroup]="this" (ngSubmit)="submit()" class="container-fluid">
	<div class="row">
		<div class="col">
			<label>
        User name
        <input type="text" formControlName="userName" class="form-control form-control-sm">
        <!-- <p class="text-danger">{{this.userName.errors | json}}</p> -->
      </label>
			<label>
        Email
        <input type="email" formControlName="email" class="form-control form-control-sm">
        <!-- <p class="text-danger">{{this.email.errors | json}}</p> -->
      </label>
		</div>
	</div>
	<div class="row">
		<div class="col text-right">
			<button type="submit" class="btn btn-primary btn-sm">ADD USER</button>
		</div>
    <div class="col text-right">
			<button type="button" (click)="login()" class="btn btn-primary btn-sm">Login</button>
		</div>
	</div>
</form>